# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project ignores
.attic
data
backup
google*
sitemap*
robots*
.env*
!.env.example
coverage
unused
cache
venv
screenshots
output.json
orw.db
bun.lockb
models.json
public/*.gz
archive/

# binary
orw

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
.vite-inspect/
vite-inspect/

# npm + other dependencies
node_modules/
vendor/
tools/

# Temporary directory
temp/

# Screenshot should not be in the respository
orw-deno/static/screenshot.png

# GitHub Copilot agent just loves to create folders...
test-*/
cov_*/

# Cloudflare
.wrangler/

# Includes
!lib
