[Unit]
Description=OpenRouter API Watcher

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/bash ./tools/start.sh
WorkingDirectory=/home/orw/orw
PrivateTmp=1
Restart=always
RestartSec=60
