/* src/app-light.css */
body {
  margin: 0;
  padding: 0;
  background-color: #444;
  color: #fff;
}

/* p {
  margin: 0;
  padding: 0;
} */

a:link {
  color: lightskyblue;
}
a:visited {
  color: lightskyblue;
}
a:hover {
  color: #ffffff;
}
a:active {
  color: #ff4040;
  text-decoration: none;
  font-weight: normal;
}

nav {
  height: 1em;
  background-color: #333;
  color: #fff;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "";
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  align-self: center;
  font-size: x-large;
  margin-right: 1rem;
}

nav ul li a.active {
  font-weight: bold;
  color: skyblue;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

nav a:visited {
  color: #fff;
}

nav a:hover {
  background-color: #555;
}

nav li.dynamic-element {
  margin-left: auto;
}

nav li.timestamp-container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 0.5em;
  margin-left: auto;
  font-size: small;
  text-align: end;
}

nav li .timestamp {
  color: skyblue;
}

/*
 .main-content {
}
 */

.model-id {
  font-weight: bold;
  color: skyblue;
}

pre {
  padding: 10px;
  background-color: #555;
  color: #fff;
  text-wrap: balance;
}

/* ... */

.content-container {
  align-self: center;
  max-width: 1200px;
  margin-top: 0;
  margin-inline: auto;
  padding: 0;
}

.model-list {
  list-style-type: none;
  padding: 0;
}

.model-details {
  padding-inline: 0.7em;
  border-radius: 4px;
}

.model-details h2 {
  text-align: center;
  margin-top: 0;
}

.model-details-col-container {
  justify-content: space-between;
  display: flex;
  gap: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "";

}

.change-model-name {
  color: lightskyblue;
  align-self: center;
}

.change-list {
  padding-top: 10px;
  padding-inline: 20px;
}

.change-entry {
  background-color: #444;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px #888;
}
