/* client/nav.css */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  align-self: center;
  font-size: x-large;
  margin-right: 1rem;
}

nav ul li a.active {
  font-weight: bold;
  color: skyblue;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #555;
}

.model-id {
  font-weight: bold;
  color: skyblue;
}

pre {
  padding: 10px;
  background-color: #e4e4e4;
  text-wrap: balance;
}

/* ... */

.content-container {
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

.model-list {
  list-style-type: none;
  padding: 0;
}

.model-list h1 {
  text-align: center;
}

.model-list ul {
  column-width: 300px;
  column-gap: 20px;
}

.model-list li {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.model-list li:hover {
  background-color: lightblue;
}

.model-list-item  {
  color: #333;
  text-decoration: none;
}

.model-list-item:hover {
  color: red;
}

.model-details {
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 4px;
}

.model-details h2 {
  text-align: center;
  margin-top: 0;
}

.model-details-col-container {
  justify-content: space-evenly;
  display: flex;
  gap: 2em;
}

.change-list {
  padding: 0;
}

.change-list h1 {
  text-align: center;
}

.change-entry {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
